<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <title>ABM-information diffusion</title>
</head>
<body>
    <h1>ABM on information diffusion</h1>
    <h2>Made by:</h2>
    <h2>Mads Malling Petersen & Martin Højer Larsen</h2>
    
    <h3>Canvas til test</h3>
    <div id="canvas1_container">
        <canvas id="canvas1" height="401" width="401"></canvas>
    </div>

    <form action="/" method="post" autocomplete="on">
        <input type="number" placeholder="number 1" name="a">
        <input type="number" placeholder="number 2" name="b">
        <input type="submit" name="submit" value="Calculate">

        {% block test_name %}
        <p>Result: {{sumAB}}</p>
        {% endblock %}
    </form>  
    
</body>
<script src="{{ url_for('static',filename='canvas1.js') }}"></script>
</html>

