<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FLASK -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">  
    <link rel="stylesheet" type="text/css" href="/static/libraries/nouislider.min.css">
    
    <!-- Til at køre min stationære derhjemme -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
   
    <title>ABM-information diffusion</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h1 id="headline">An Agent Based Model simulation<br> on information diffusion</h1>
        <p id="madeby">By Mads Malling Petersen & Martin Højer Larsen</p>
    </div>
    
    <!-- First section -->
    <div class="section_light">
        <p class="text_headline">Lets see how an influencer might influence a normal person like you and me</p>
        <p>The gray circle is the average person in a social network. The blue square represents an influencer pushing factually based news. The read triangle on the other hand, is an influencer prone to share fake news.</p>        
        <p>Try to press the influencers to see how they influence their (small) network</p>
        
        <div id="canvas_story_1_container">
            <canvas id="canvas1"></canvas>
        </div>
        
        <p>It seems that the influencers are not very good at their job. Keep in mind however, that this was only one try and in a very small and isolated network.
            <br>In the real world, you're connected to many people - and many influencers.
        </p>
        <p class="text_headline">Try it out below:</p>
    </div>
    
    <!-- Second section -->
    <div class="section_dark">
        <p>insert canvas here</p>
    </div>
    
    <!-- Third section -->
    <div class="section_light">
        <p class="text_headline">Story time</p>
        <p>So as you can see, the stronger the bond between people, the more likely they are to believe what they recieve from their peers.</p>
    </div>
    
    <!-- Fourth section - SANDBOX -->
    <div class="section_dark">
        <p class="text_headline">Sandbox mode!</p>
        <div id="canvas_sandbox_container">
            <canvas id="canvas_sandbox"></canvas>
        </div>
        <form action="/" method="post" id="form_sandbox">
            <p>Choose how many agents you want in the simulation. </p>
            <input type="number" name="agents" min="0" max="500" value="100">
            <p>and use the slider choose the distribution of the agents.</p>
            <div id="sandbox_slider"></div>
            <input id="s_sandbox" type="submit" name="submit" value="Generate">
            <p>There are <span id="slider_f_value"></span>% fake news influencers, <span id="slider_c_value"></span>%  normal people and <span id="slider_r_value"></span>% real news influencers.</p>
        </form>  
    </div>
    
    <!-- Fitfh section -->
    <div class="section_light">
        <p class="text_headline">More writing to add.</p>
    </div>
    
    <!-- Sixth section -->
    <div class="section_dark">
        <h3>Ajax testing (dont mind this)</h3>
        <form action="/" method="post" id="ajaxform">
            <input type="number" placeholder="A" name="numberA" min="0">
            <input type="number" placeholder="B" name="numberB" min="0">
            <input type="submit" name="ajaxsubmit" value="Calculate">
        </form>
        <p>AJAX test result:</p>
        <p id="ajaxresult"></p>
    </div>
    
    <!-- Seventh section -->
    <div class="section_light">
        <p class="text_headline">LOREM IPSUM ALL THE WAY</p>
        <p>MORE LOREM IPSUUUUUUUUUUUUUUUUUUUUUUUUUUM.</p>
        
    </div>
    
    <!-- Footer -->
    <div class="footer">
        <div id="madeby">
            <p>This project was made for a Master Thesis in Software Design.</p>
            <p>Created by: Mads Malling Petersen & Martin Højer Larsen</p>
            <p>Thanks to our advisors Claire Glanois, Elias Najarro and Louisa de Felice.</p>
            <p>***</p>
            <p>The simulation program is based on litterature about information diffusion, agent based models and <br> multiscale systems. If you want to read up on the topics here are listed some relevant articles:
            </p>
            <ul>Information diffusion: <a href="" target="blank">insert link</a></ul>
            <ul>Agent based modelling: <a href="" target="blank">insert link</a></ul>
            <ul>Multiscale systems: <a href="" target="blank">insert link</a></ul>
        </div>
    </div>

</body>

<!-- FLASK -->
<script src = "{{ url_for('static', filename='preload_images.js') }}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="/static/libraries/nouislider.min.js"></script> 
<script src="/static/libraries/wNumb.min.js"></script> 
<script type="module" src="{{ url_for('static',filename='agent_class.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='canvas_main.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='canvas_story_1.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='canvas_sandbox.js') }}"></script>
<script src="{{ url_for('static',filename='ajax.js') }}"></script>
<script src="{{ url_for('static',filename='sandbox_slider.js') }}"></script>



 <!-- Til at køre min staionære derhjemme  
<script type="module" src="/static/canvas_main.js"></script>
<script src="/static/agent_class.js"></script>
<script type="module" src="/static/canvas1.js"></script>
<script type="module" src="/static/canvas_sandbox.js"></script>
<script type="module" src="/static/ajax.js"></script>
<script type="module" src="/static/sandbox_slider.js"></script>-->

</html>

